<config>
    <!-- error, warning, info, debug, manager -->
    <logger>
        <level value="debug" />
        <dir value="logs" />
    </logger>
    <!-- order matters, top loaded first -->
    <plugins>
        <plugin name="config" />
        <plugin name="commandmanager" />
        <plugin name="base" />
        <plugin name="isteam" />
    </plugins>
    <!-- subconfigs for stuff that is changed between boxes
        for things that are changed rarely use the plugin.xml -->
    <subconfigs>
        <steamcfg>
            <username value="noodles752" />
            <password value="mizmiz123123" />
            <superuser value="STEAM_0:0:19372398" />
            <chatrooms>
                <!--<room name="roomname" id="103582791429557367" />-->
            </chatrooms>
        </steamcfg>
    </subconfigs>
</config>